.form{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 35px 20px;
    gap: 20px;
    align-items: center;
}
.form button{
    max-height: 54px;
    max-width: 60%;
    padding: 10px 10px;
}