.active p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.text {
  color: white;
}
.navBarLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  transition: all 0.2s ease-out;
}
.navBarLink:hover{
  text-decoration: underline white 3px;
  scale: 1.2;
  position: relative;
}
.navBarLink svg{
  stroke-width: 2;
  width: 24px;
  height: 24px;
  color: white;
  stroke: white;
}
.active svg {
  width: 26px;
  height: 26px;
  stroke-width: 2.2;
}
